*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: darkblue; */
    /* color: white; */
    /* list-style-type: none; */
    font-family: Arial, sans-serif;
    /* margin: 20px 10px; */
}
body{
    margin: 20px 20px;
    gap: 10px;
}
ul{
    list-style-type: none;
}
ol{
    margin-left: 20px;
}
.navs ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 20px 20px; */
}
.Aboutus{
    margin-top: 20px ;
}
.section-me{
    margin-top: 20px ;
}
.sec-contact{
    margin-top: 20px ;
}
h2{
font-size: 36px;
color: darkblue;
}
.sec-contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    /* margin: 20px 20px; */
}
.mm{
    height: 100px;
    justify-items: center;
    padding: 20px 20px;
}
button{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}